

    <div class="col-sm-3">
  <div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/beans"><span class="fa fa-coffee"></span>Koffiebonen </a></li>
          <li routerLinkActive="active"><a routerLink="/shops"> <span class="glyphicon glyphicon-home"></span>Koffiezaken </a></li>
          <li routerLinkActive="active"><a routerLink="/factories"> <span class="fa fa-fire"></span>Branderijen </a></li>
          <li routerLinkActive="active"><a href="#"> <span class="glyphicon glyphicon-heart"></span>Favorieten </a></li>
        </ul>
      </div>
  </div>
    </div>
