
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;
}

.active {
  background-color: white !important;
  border: none;
  color: #999999 !important;
}
