

<div  class="list-group-item clearfix">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="factoryForm" (ngSubmit)="onSubmit(factoryForm)">
        <input
          type="hidden"
          id="_id"
          formControlName="_id"
          class="form-control">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Naam</label>
              <div class="alert alert-danger" *ngIf="!factoryForm.controls['name'].valid && factoryForm.controls['name'].touched"> Voer een naam in</div>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="city">Stad</label>
              <div class="alert alert-danger fade in" *ngIf="!factoryForm.controls['city'].valid && factoryForm.controls['city'].touched"> Voer een stad in</div>
              <input
                type="text"
                id="city"
                formControlName="city"
                class="form-control">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="image_url">Foto branderij</label>
              <input
                type="text"
                id="image_url"
                formControlName="image_url"
                class="form-control"
                #image
              >
            </div>
          </div>
          <div class="col-xs-6">

            <img [src]="image.value" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Omschrijving</label>
              <textarea
                id="description"
                rows="3"
                formControlName="description"
                class="form-control"
                [(ngModel)]="area"
              ></textarea>

            </div>
            <p> Je antwoord: {{area}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!factoryForm.valid">Save</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
